* {
    margin: 0;
    padding: 0;
}

.headerContainer {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;

}



.logo img{
    width: 150px;
    height: auto;
}


.navList {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex; 
  align-items: center; 
  gap: 1.5rem; 
  ;
}

.navList a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 0.5rem; 
}